@import "global.css";

h1{
    line-height: 1;
}

header{
    padding-block: 1rem;
}

main{
    padding-block: 2rem;
}

.newPaintingButton{
    font-size: 2rem;
    padding: .5em 1.5em;
}

.existingDrawings{
    padding-top: 2rem;
}

.drawing > img{
    background-color: white;
    max-width: 80%;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
.drawing > button{
    padding: 1rem 1.5rem;
}
.drawing{
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

