@import "global.css";

h1{
    line-height: 1;
}

header{
    padding-block: 1rem;
}

main{
    padding-block: 2rem;
}

.newDrawingButton{
    font-size: 2rem;
    padding: .5em 1.5em;
}

.existingDrawings{
    padding-top: 2rem;
}

.drawing > img{
    background-color: white;
    max-width: 80%;
    border-radius: 1rem;
    margin-bottom: .5rem;
}
.drawing > button{
    padding: 1rem 1.5rem;
}
.drawing{
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1100px){
    .drawing > img{
        max-width: 100%;
        border-radius: .5rem;
    }
}

@media (max-width: 650px){
    h1{
        font-size: 3rem;
    }

    .newDrawingButton{
        font-size: 1.5rem;
        padding: .5rem 1.5rem;
    }
}