@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Urbanist:wght@100;300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* COLORS */
:root{
    --dark-blue: #00112B;
    --light-blue: #011b42;
    --dark-red: #DA2424;
    --light-red: #FF2A2A;
    --white: #FFF;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
}

html{
  position: relative;
}

/* TYPOGRAPHY */

h1{
  font-size: 64px;
  font-weight: 700;
  user-select: none;
}

p{
  font-size: 18px;
  font-weight: 400;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

*:focus{
  outline: none;
}

button{
  cursor: pointer;
}

header, main, footer{
    margin-inline: 2rem;
}

.calculator input{
    width: 30vw;
    padding: 1rem 2rem;
    margin-inline: 0.25rem;
    font-size: 24px;
    border: none;
    cursor: default;
}
.calculator button{
    padding: 1rem 2rem;
    font-size: 24px;
    border: none;
    background-color: #012863;
    color: white;
    font-weight: bold;
}
.calculator button:hover, .calculator button:focus{
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #012863; }
}

#error, #stack{
    font-size: 36px;
    font-weight: 700;
}

#stack{
  font-size: 20px;
  opacity: 0.9;
}

.buttons, .operators, .cleanup, .decomposition{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-inline: auto; 
}

.buttons button{
    padding: 1.5rem 2rem;
    font-size: 24px;
    border-radius: 0;
    border: none;
    transition: 0.25s;
}

.buttons button:hover, .buttons button:focus{
  box-shadow: inset 0 0 0 2em var(--light-red);
  color: white;
}

.operators button{
    padding: 1.5rem 0;
    font-size: 24px;
    border-radius: 0;
    border: none;
    min-width: 90px;
    transition: 0.25s;
}

.operators button:hover, .operators button:focus{
  box-shadow: inset 0 -3.25em 0 0 #012863;
  color: white;
}

.cleanup button{
    padding: 1.5rem 0;
    font-size: 24px;
    border-radius: 0;
    border: none;
    min-width: 180px;
}

#clear, #backspace{
  background-color: var(--dark-red);
  color: white;
  font-weight: bold;
  transition: 0.25s;
  overflow: visible;
}

#clear:hover, #clear:focus{
  box-shadow: 
    inset -4em 0 0 0 var(--light-red),
    inset 4em 0 0 0 var(--light-red); 
}

#backspace{
  background-color: var(--light-blue);
}

#backspace:hover, #backspace:focus{
  box-shadow: inset 7.5em 0 0 0 #012863;
}
.decomposition{
  flex-direction: column;
  margin-bottom: 5rem;
}

footer{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: .25rem;
    margin: 0 auto;
}

a:hover {
  color: var(--dark-red);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px){
  .calculator input{
    width: 50vw;
  }
}

@media (max-width: 1000px) {
  .buttons button, .operators button{
    flex: 1;
    max-width: 25%;
  }
}

@media (max-width: 600px), (max-height: 650px){
  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .calculator input{
    width: 100%;
    margin-inline: 0;
  }
  .calculator button{
    width: 50%;
    font-size: 16px;
  }

  .buttons{
    margin-top: .5rem;
  }
  .buttons button, .operators button{
    padding: 1rem;
    font-size: 16px;
    min-width: initial;
    max-width: initial;
  }

  .cleanup button{
    min-width: 75%;
    font-size: 20px;
    padding: 1rem 0;
    min-width: initial;
    flex: 1;
  }

  .decomposition{
    margin-bottom: 2rem;
  }

  h1{
    font-size: 48px;
    line-height: 1.2;
    padding: 1rem 0.5rem;
  }
  header, main{
    margin-inline: 1rem;
  }
  header{
    display: none;
  }

  #error{
    font-size: 24px;
  }
  #stack{
    font-size: 16px;
  }

  #clear:hover, #clear:focus{
    box-shadow: 
      inset -6em 0 0 0 var(--light-red),
      inset 6em 0 0 0 var(--light-red); 
  }
  
  #backspace:hover, #backspace:focus{
    box-shadow: inset 11em 0 0 0 #012863;
  }
}

@media (max-width: 1000px) and (max-height: 400px){
  .calculator input{
    padding: .5rem 1rem;
  }
  .operators{
    margin-top: 1rem;
  }
}