<nb-form-field>
  <input
      [(ngModel)]="inputValue"
      (ngModelChange)="inputValueChange($event)"
      (keypress)="onKeyPress($event)"
      nbInput fullWidth
      type="text"
      placeholder="Enter location!"
      [nbAutocomplete]="suggestions"/>

  <nb-autocomplete #suggestions>
    <nb-option-group *ngFor="let group of filteredCities$ | async; trackBy: trackByName"  [title]="group.name" >
      <nb-option *ngFor="let city of group.cities" [value]="city" (click)="searchWeather(city)">
        {{ city }}
      </nb-option>
    </nb-option-group>
  </nb-autocomplete>

  <button nbSuffix nbButton ghost (click)="searchWeather(inputValue)">
    <nb-icon icon="arrow-forward-outline" pack="eva"></nb-icon>
  </button>
</nb-form-field>

<h4 class="text-center">{{ searchMessage }}</h4>
<div class="text-center" *ngIf="!isWeatherDataEmpty()">
  <img [src]="weatherIcon" alt="Weather icon">
  <h6>{{ 'Local time of forecast: ' + getLocalTime(weatherData?.dt, weatherData?.timezone) }}</h6>
  <h6>{{ "Today's date: " + getDate(weatherData?.dt) }}</h6>
</div>

<nb-layout center *ngIf="!isWeatherDataEmpty()">
  <nb-layout-column class="text-center">
    <nb-toggle class="toggleImperial" [(ngModel)]="toggleImperialUnits" (ngModelChange)="onUnitsToggleChange()">Toggle Imperial Units</nb-toggle>
    <nb-card size="small">
      <nb-card-header><h4>Temperature 🌡</h4></nb-card-header>
      <nb-card-body>
        <p> <b>Minimal:</b> {{ weatherData?.main?.temp_min }} {{ toggleImperialUnits ? '°F' : '°C' }} </p>
        <p> <b>Maximal:</b> {{ weatherData?.main?.temp_max }} {{ toggleImperialUnits ? '°F' : '°C' }} </p>
        <p> <b>Current:</b> {{ weatherData?.main?.temp }} {{ toggleImperialUnits ? '°F' : '°C' }} </p>
        <p> <b>Feels like:</b> {{ weatherData?.main?.feels_like }} {{ toggleImperialUnits ? '°F' : '°C' }} </p>
      </nb-card-body>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header><h4>Air 💨</h4></nb-card-header>
      <nb-card-body>
        <p> <b>Pressure:</b> {{ weatherData?.main?.pressure }} {{ toggleImperialUnits ? 'Hg' : 'hPa' }}</p>
        <p> <b>Humidity:</b> {{ weatherData?.main?.humidity }}%</p>
      </nb-card-body>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header><h4>Wind 🍃</h4></nb-card-header>
      <nb-card-body>
        <p> <b>Speed:</b> {{ weatherData?.wind?.speed }} {{ toggleImperialUnits ? 'mi/h' : 'm/s' }}</p>
        <p> <b>Direction:</b> {{ weatherData?.wind?.deg }}°</p>
      </nb-card-body>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header><h4>Sun ☀</h4></nb-card-header>
      <nb-card-body>
        <p> <b>Sunrise:</b> {{ getLocalTime(weatherData?.sys?.sunrise, weatherData?.timezone) }} </p>
        <p> <b>Sunset:</b> {{ getLocalTime(weatherData?.sys?.sunset, weatherData?.timezone) }} </p>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

<button nbSuffix nbButton status="info" (click)="accessibilityMode()" fullWidth class="accessibilityButton">
  Accessibility Mode
  <nb-icon icon="eye-outline" pack="eva"></nb-icon>
</button>
